body {
    background-color: black;
    height: 90vh;
    font-family: 'Satoshi', sans-serif;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

/**Cross**/
div.cross {
    margin-top: 10px;
}

/**Cross-icon**/
.cross-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    margin: 10px;
    color: white;
    transition: all .5s ease-in-out;
}

.cross-icon:hover {
    color: #eb5454;
    transform: rotate(90deg);
}

/**Services-h1**/
.services-h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    margin-top: 60px;
    background: linear-gradient(90deg, #f9cd38, #ff6b6b, #6bcb6b, #6bcaff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/**service-paragraph**/

.service-paragraph {
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #0c0c0c;
    border-radius: 20px;
    padding: 20px;
    transition: background-color 0.5s;
}

.service-paragraph:hover {
    background-color: #1a1a1a;
}

.green {
    font-family: 'Clash Display', sans-serif;
    font-weight: 800;
    color: #6bcb6b;
}

.yellow {
    font-family: 'Clash Display', sans-serif;
    font-weight: 800;
    color: #f9cd38;
}

.red {
    font-family: 'Clash Display', sans-serif;
    font-weight: 800;
    color: #eb5454;
}

/*Must have plans-h1*/
.must-have-plans-h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    margin-top: 60px;
    background: linear-gradient(90deg, #f9cd38, #ff6b6b, #6bcb6b, #6bcaff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 3s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/*services-container*/

.services-container {
    margin: 80px;
}

.service-price {
    color: #777;
    font-weight: 300;
    font-family: 'Satoshi', sans-serif;
    font-size: 28px;
}

/*service-1*/

.service-1 {
    background-color: #0c0c0c;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    color: #c4b0b0cc;
}

.service-1-h3 {
    font-family: 'Clash Display', sans-serif;
    color: #6bcb6b;
    font-weight: 600;
    transition: all .5s ease-in-out;
}

.service-1-h3:hover {
    transform: scale(1.05);
}

.service-1-p {
    color: #79AC78;
    font-weight: 600;
    margin: 0;
    font-size: 14px;
}

.service-1-purchase {
    margin-top: 20px;
    background-color: #0c0c0c;
    border: 1px solid #79AC78;
    color: #79AC78;
}

.service-1-purchase:hover {
    margin-top: 20px;
    background-color: #79AC78;
    border: 1px solid #79AC78;
    color: #fff;
}


/*service-2*/

.service-2 {
    background-color: #0c0c0c;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    color: #c4b0b0cc;
}

.service-2-h2 {
    font-family: 'Clash Display', sans-serif;
    color: #f9cd38;
    font-weight: 600;
    transition: all .5s ease-in-out;
}

.service-2-h2:hover {
    text-shadow: 0 0 30px #F2BE22;

}

.service-2-p {
    color: #FBD85D;
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    transition: all .2s ease-in-out;
}

.service-2-p:hover {
    transform: scale(1.05);
}

.service-2-purchase {
    margin-top: 20px;
    background-color: #f9cd38;
    color: black;
    font-weight: 600;
}

.service-2-purchase:hover {
    margin-top: 20px;
    background-color: #f9cd38;
    color: black;
    font-weight: 600;
}

/*service-3*/
.service-3 {
    background-color: #0c0c0c;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    color: #c4b0b0cc;
    text-align: center;
}

.service-3-h1 {
    font-family: 'Clash Display', sans-serif;
    color: #eb5454;
    font-weight: 700;
    position: relative;
    transition: all .5s ease-in-out;
}

.service-3-h1:hover {
    text-shadow: 0 0 30px #C70039;
    transform: scale(1.05);
}

.service-3-h1::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #f9cd38, #eb5454, #44b485, #1d779a);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
}

.service-3-h1:hover::before {
    transform: scaleX(1);
}

.service-3-p {
    color: #eb5454;
    font-weight: 800;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.service-3-p:hover {
    transform: scale(1.05);
}

.service-price {
    font-size: 24px;
    color: #468B97;
    font-weight: 700;
}

.service-3-purchase {
    margin-top: 15px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #eb5454;
    color: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.service-3-purchase:hover {
    background-color: #ff6b6b;
    color: black;
    transform: scale(1.02);
}
