body {
    background-color: black;
    height: 90vh;
    font-family: 'Satoshi', sans-serif;
    cursor: grab;
    overflow-x: hidden;
}

/**Cross**/
div.cross {
    margin-top: 10px;
}

/**Cross-icon**/
.cross-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    margin: 10px;
    color: white;
    transition: all .5s ease-in-out;
}

.cross-icon:hover {
    color: #eb5454;
    transform: rotate(90deg);
}

/**Established**/
.established {
    margin-top: 50px;
    text-align: center;
}

/**Established-h1**/
.established-h1 {
    font-size: 60px;
    font-weight: 800;
}